{% extends "base.html" %}

{% block title %}DJ C8{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">DJ C8</h1>
    <div class="ratio ratio-16x9">
      <iframe class="iframe-video" src="https://www.youtube.com/watch?v=WPeNSespURE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
    </div>
    <p class="col-md-8 fs-4">Text to explain what DJ C8 does.</p>
    <p class="col-md-8 fs-4"><a href="/contact">Contact me</a> to set something up!</p>
    <p>
      <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fcaitlyn-obrien%2Fc8-mixtape-continuous-mix-a%2F" frameborder="0" ></iframe>
    </p>
  </div>
</div>
{% endblock %}
