{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Music</h1>
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=669194998/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/transparent=true/" seamless><a href="https://c8music.bandcamp.com/album/kit-orion">Kit Orion by Kit Orion</a></iframe>
    <p>
      <a class="btn btn-outline-primary" href="https://distrokid.com/hyperfollow/kitorion/kit-orion" role="button" target="_blank" rel="noopener noreferrer">Streaming Services</a>
    </p>
    </div>
</div>
{% endblock %}
